body {
	background: url("../images/P1040375_opt.jpg") fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#barra{
	height: 70px;
}

#imglogo {
	height:75px;
}

#legal {
	margin-top: 10px;
	font-size: 0.8em;
}

.navbar-text{
	font-family: 'Open Sans Condensed', sans-serif;
}

#contenido {
	margin-top: 120px;
	margin-bottom: 60px;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: lightgreen;
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
}

.jumbotron {
	/*height: 50%;*/
	background-color: white;
	background-color: rgba(255,255,255,0.7);
	color: #801818 ; /*Falu Rojo*/
	font-family: 'Open Sans Condensed', sans-serif;
}

footer{
	background-color: black;
	background-color: rgba(255,255,255,0.6);
	color: #801818 ; /*Falu Rojo*/

}

#CC {
	margin-top: 15px;
}