h1, h2, h3, h4 {
	color: #801818;
}

#barra2{
	height: 60px;
}

#imglogo2 {
	height: 1.8em;
}

#contenido {
	margin-top: 60px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: lightgreen;
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
}

.jumbotron {
	/*height: 50%;*/
	background-color: white;
	background-color: rgba(255,255,255,0.7);
	color: #801818 ; /*Falu Rojo*/
}

footer{
	background-color: black;
	background-color: rgba(255,255,255,0.6);
	color: #801818 ; /*Falu Rojo*/
}

#CC {
	margin-top: 15px;
}

.marca{
	text-decoration: none;
}